h1 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 68px;
  color: #224871;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

p {
  font-size: 18px;
  color: #685f5f;
  letter-spacing: .8px;
}

.container-fluid {
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.section-title {
  font-size: 34px;
  color: #00AEEF;
  padding: 4% 0;
}

.section-sub-title {
  margin-top: -4%;
}

.solid-blue-btn {
  color: white;
  background-color: #00AEEF;
  margin: 0 auto;
  padding: .6em 2em;
  border-radius: 26px;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
}

.solid-blue-btn:hover {
  color: white;
  background-color: #0089bc;
}

.blue-outline-btn {
  color: #00AEEF;
  background-color: none;
  padding: 4px 30px;
  border-radius: 26px;
  border: 2px solid #00AEEF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.blue-outline-btn:hover {
  background-color: #00AEEF;
  color: white;
  cursor: pointer;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #F8FDFF;
  width: 100%;
}

.news-container p {
  margin: auto;
  color: white;
  font-size: 18px;
  color: #00AEEF;
}

.navbar {
  background-color: white;
}

.nav-logo {
  width: 40%;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-link {
  position: relative;
  z-index: 999;
  font-weight: bold;
  font-size: 18px;
  color: #00AEEF !important;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.nav-link:hover {
  color: #0076a3 !important;
}

.nav-item {
  padding: 10px;
}

.navbar-brand:hover {
  cursor: pointer !important;
}

.link {
  display: inline;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  cursor: pointer;
}

#main-page-container {
  background-image: url(../world-web-main-bg.jpg);
  width: 100vw;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 1020px;
  background-color: #e6e7e9;
  min-height: 80vh;
}

.main-text-container {
  width: 100%;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  color: #685f5f;
}

.sub-title {
  font-size: 26px;
  color: #685f5f;
  margin-top: -2%;
}

.title-text {
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: -6%;
}

.customer-logos {
  position: relative;
  z-index: 9999;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 55%;
}

.customer-logos {
  background-color: #F8FDFF;
  padding: 3% 0;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.real-time-platform-img {
  max-width: 80%;
  margin-left: 2.8%;
}

.icon-container {
  margin-top: 26%;
  margin-bottom: 13%;
}

.icon-row .col-md-4:nth-child(2) .icon-container {
  border-right: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  margin-top: 26%;
  margin-bottom: 13%;
}

.icon-container::after {
  content: '';
  width: 60%;
  position: absolute;
  right: 0;
  display: block;
  margin: 0 auto;
  border-left: 1px solid #685f5f;
}

.icon-title {
  color: #00AEEF;
  font-size: 30px;
  padding: 8% 0 5% 0;
}

#ebook-section {
  background-color: #F8FDFF;
  padding-bottom: 4%;
}

.ebook-container {
  margin-bottom: 4%;
}

.ebook-img {
  width: 20%;
  -webkit-box-shadow: 0px 5px 12px 0px #cccccc;
  box-shadow: 0px 5px 12px 0px #cfcfcf;
}

.case-study-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 18px 0px #cccccc;
  box-shadow: 0px 0px 18px 0px #dddddd;
  margin-bottom: 30%;
  -webkit-box-shadow: 0px 5px 12px 0px #cccccc;
  box-shadow: 0px 5px 12px 0px #cfcfcf;
}

.case-study-btn-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 4%;
  color: #685f5f;
  font-size: 18px;
}

.case-study-container:hover .case-study-overlay {
  height: 100%;
}

.case-study-container:hover .case-study-description {
  opacity: 1;
}

.case-study-description {
  position: relative;
  opacity: 0;
  text-align: left;
  padding: 4%;
}

.case-title {
  margin: 0;
}

.case-study-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F8FDFF;
  overflow: hidden;
  width: 100%;
  height: 20%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: opacity .2s;
  transform: opacity .2s;
}

#contact-us-section {
  padding-bottom: 10%;
}

.contact-us-container:nth-child(1) {
  border-left: 1px solid #cfcfcf;
}

.contact-us-title {
  color: #00AEEF;
  font-size: 30px;
}

.contact-us-text {
  margin-bottom: 7%;
}

footer {
  padding: 3% 0 .6% 0;
  background-color: #F7F7F7;
}

.logo-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-top: 4%;
}

.fab {
  margin-top: 12%;
  color: #00AEEF;
  font-size: 18px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.fab:hover {
  color: #0089bc;
}

.footer-link-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer-logo {
  width: 35%;
  padding-bottom: 5%;
  border-bottom: 1px solid #00AEEF;
}

.footer-link {
  display: inline-block;
  color: #5A5A5A;
  font-size: 16px;
}

.footer-link:hover {
  color: #8f8484;
}

.footer-link-container {
  margin-bottom: 3em;
}

.address-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer-address-title,
.footer-address {
  color: #707070;
  text-align: left;
  font-size: 16px;
}

.copy-right {
  font-size: 12px;
}

@media only screen and (max-width: 1120px) {
  p {
    font-size: 16px;
  }

  h1 {
    font-size: 48px;
  }

  .section-title {
    font-size: 30px;
  }

  .main-text-container {
    padding-top: 3%;
  }

  .slide img {
    width: 73%;
  }

  .icon-title {
    font-size: 26px;
  }

  #ebook-section {
    padding: 5% 0 10% 0;
  }

  #case-studies-section {
    padding: 5% 0 1% 0;
  }
}

@media only screen and (max-width: 767px) {
  .nav-logo {
    width: 56%;
  }

  h1 {
    font-size: 36px;
  }

  .main-text-container {
    padding-top: 12%;
  }

  .sub-title {
    font-size: 20px;
    margin-bottom: 8%;
  }

  .section-title {
    padding-top: 8%;
  }

  #real-time-platform-section {
    padding-bottom: 10%;
  }

  .icon-container {
    margin-top: 24%;
    margin-bottom: 8%;
  }

  .icon-row .col-md-4:nth-child(2) .icon-container {
    margin-top: 24%;
  }

  .case-study-container {
    margin-bottom: 16%;
  }

  .ebook-container {
    margin-bottom: 12%;
  }

  #ebook-section {
    padding-bottom: 10%;
  }

  .contact-us-container {
    margin-bottom: 10%;
  }

  .footer-logo {
    width: 55%;
  }

  .fab {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  .nav-logo {
    width: 48%;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }

  .main-text-container {
    padding-top: 12%;
  }

  .sub-title {
    font-size: 20px;
    margin-bottom: 14%;
  }

  .section-title {
    padding-top: 8%;
  }

  .real-time-platform-img {
    margin: 5% 0 10% 0;
  }

  .icon-container {
    margin-top: 5%;
  }

  .icon-title {
    padding-bottom: 2%;
  }

  .icon-row .col-md-4:nth-child(2) .icon-container {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .ebook-container {
    margin-bottom: 8%;
  }

  #ebook-section {
    padding-bottom: 14%;
  }

  .case-study-container {
    margin-top: 0%;
    margin-bottom: 18%;
  }

  .contact-us-container {
    margin-bottom: 16%;
  }

  #footer {
    font-size: 12px;
  }

  .footer-logo {
    width: 50%;
  }

  .social-icons-container {
    padding: 2% 0 5% 0;
  }

  .fab {
    font-size: 12px;
  }

  .footer-link-container {
    padding: 0;
  }

  .address-text {
    margin-bottom: 16%;
  }

  .copy-right {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */