#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
}

a,
a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  color: #685f5f;
  letter-spacing: .8px;
}

.container-fluid {
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: 34px;
  color: #00AEEF;
  padding: 4% 0;
}

.section-sub-title {
  margin-top: -4%;
}

.solid-blue-btn {
  color: white;
  background-color: #00AEEF;
  margin: 0 auto;
  padding: .6em 2em;
  border-radius: 26px;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
}

.solid-blue-btn:hover {
  color: white;
  background-color: #0089bc;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8FDFF;
  width: 100%;
}

.news-container p {
  margin: auto;
  color: white;
  font-size: 18px;
  color: #00AEEF;
}

.logo {
  width: 75%;
}

.logo:hover {
  cursor: pointer;
}

.nav-link {
  position: relative;
  z-index: 999;
  font-weight: bold;
  font-size: 16px;
  color: #00AEEF;
}

.nav-link:hover {
  color: #0076a3;
}

.nav-item {
  padding: 10px;
}

.diffusion-sub-title {
  color: #685f5f;
  font-size: 38px;
  margin-top: -5%;
}

.sub-title {
  font-size: 26px;
  color: #685f5f;
  margin-top: -2%;
}

.title-text {
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: -6%;
}

.navbar-brand:hover {
  cursor: pointer !important;
}

.link {
  display: inline;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  cursor: pointer;
}

h1 {
  margin-top: 6%;
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 70px;
  color: #685f5f;
}

.main-text-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: #685f5f;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-in-out 1s;
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-out 0.6s;
  -ms-transition: opacity ease-out 0.6s;
  -o-transition: opacity ease-out 0.6s;
}

.carousel-item {
  margin-top: 8% !important;
}

.carousel-inner {
  height: 285px;
}

.quote-text-container {
  padding-top: 20px;
  font-style: italic;
  font-size: 22px;
}

.quote-container {
  color: #685f5f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
}

.quote-author {
  float: right;
  margin-top: -3%;
  font-style: italic;
  font-size: 18px;
}

.r-quote {
  font-size: 40px;
  line-height: 1;
}

.l-quote {
  font-size: 40px;
  line-height: 1;
}

.learn-more {
  position: relative;
  z-index: 3;
  color: white;
  background-color: #00AEEF;
  margin: 0 auto;
  display: block;
  padding: 10px 28px;
  border-radius: 26px;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2%;
}

.learn-more:hover {
  background-color: #0076a3;
}

.icon-container {
  margin-top: 26%;
  margin-bottom: 13%;
}

.icon-row .col-md-4:nth-child(2) .icon-container {
  border-right: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  margin-top: 26%;
  margin-bottom: 13%;
}

.icon-container::after {
  content: '';
  width: 60%;
  position: absolute;
  right: 0;
  display: block;
  margin: 0 auto;
  border-left: 1px solid #685f5f;
}

.icon-title {
  color: #00AEEF;
  font-size: 30px;
  padding: 8% 0 5% 0;
}

#ebook-section {
  background-color: #F8FDFF;
  padding-bottom: 4%;
}

.ebook-container {
  margin-bottom: 2%;
}

.case-study-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 18px 0px #cccccc;
  box-shadow: 0px 0px 18px 0px #dddddd;
  margin-bottom: 30%;
  -webkit-box-shadow: 0px 5px 12px 0px #cccccc;
  box-shadow: 0px 5px 12px 0px #cfcfcf;
}

.view-btn {
  color: #00AEEF;
  background-color: none;
  padding: 4px 30px;
  border-radius: 26px;
  border: 2px solid #00AEEF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.view-btn:hover {
  background-color: #00AEEF;
  color: white;
  cursor: pointer;
}

.view-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 4%;
  color: #685f5f;
  font-size: 18px;
}

.case-study-container:hover .overlay {
  height: 100%;
}

.case-study-container:hover .case-study-description {
  opacity: 1;
}

.case-study-description {
  position: relative;
  opacity: 0;
  text-align: left;
  padding: 4%;
}

.case-title {
  margin: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F8FDFF;
  overflow: hidden;
  width: 100%;
  height: 20%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: opacity .2s;
          transform: opacity .2s;
}

.real-time-platform-img {
  max-width: 80%;
  margin-left: 2.7%;
}

#contact-us-section {
  padding-bottom: 15%;
}

.contact-us-container:nth-child(1) {
  border-left: 1px solid #cfcfcf;
}

.contact-us-title {
  color: #00AEEF;
  font-size: 30px;
}

.contact-us-text {
  margin-bottom: 7%;
}

footer {
  padding: 3% 0 .6% 0;
  background-color: #F7F7F7;
}

.logo-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 4%;
}

.fab {
  margin-top: 12%;
  color: #00AEEF;
  font-size: 18px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.fab:hover {
  color: #0089bc;
}

.footer-link-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer-logo {
  width: 65%;
  padding-bottom: 5%;
  border-bottom: 1px solid #00AEEF;
}

.footer-link {
  display: inline-block;
  color: #5A5A5A;
  font-size: 16px;
}

.footer-link:hover {
  color: #8f8484;
}

.footer-link-container {
  margin-bottom: 3em;
}

.address-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer-address-title,
.footer-address {
  color: #707070;
  text-align: left;
  font-size: 16px;
}

.copy-right {
  font-size: 12px;
}

.customer-logos {
  position: relative;
  z-index: 9999;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 55%;
}

.customer-logos {
  background-color: #F8FDFF;
  padding: 3% 0;
  margin-top: 4%;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */