$dark-grey: #005D81;
$light-blue: #00AEEF;
$dark-grey: rgb(104, 95, 95);

//Global Styles

h1 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 68px;
  color: #224871;
}

a,
a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  color: $dark-grey;
  letter-spacing: .8px;
}

.container-fluid {
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.section-title {
  font-size: 34px;
  color: $light-blue;
  padding: 4% 0;
}

.section-sub-title {
  margin-top: -4%;
}

.solid-blue-btn {
  color: white;
  background-color: $light-blue;
  margin: 0 auto;
  padding: .6em 2em;
  border-radius: 26px;
  border: none;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;

  &:hover {
    color: white;
    background-color: darken($light-blue, 10%);
  }
}

.blue-outline-btn {
  color: $light-blue;
  background-color: none;
  padding: 4px 30px;
  border-radius: 26px;
  border: 2px solid $light-blue;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  margin: 0;

  &:hover {
    background-color: $light-blue;
    color: white;
    cursor: pointer;
  }
}



// News Section
.news-container {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: #F8FDFF;
  width: 100%;
}

.news-container p {
  margin: auto;
  color: white;
  font-size: 18px;
  color: $light-blue;
}

//Navbar Section
.navbar {
  background-color: white;
}

.logo {
  width: 75%;

  &:hover {
    cursor: pointer;
  }
}

.nav-link {
  position: relative;
  z-index: 999;
  font-weight: bold;
  font-size: 18px;
  color: $light-blue;

  &:hover {
    color: darken($light-blue, 15%);
  }
}

.nav-item {
  padding: 10px;
}

.navbar-brand:hover {
  cursor: pointer !important;
}

.link {
  display: inline;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  cursor: pointer;
}

//Main Content Section

#main-page-container {
  background-image: url(../main-bg.jpg);
  width: 100vw;
  background-position: 50% 10%;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: 1020px;
  background-color: #e6e7e9;
  min-height: 80vh;
}

.main-text-container {
  width: 100%;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  color: $dark-grey;
}

.sub-title {
  font-size: 26px;
  color: $dark-grey;
  margin-top: -2%;
}

.title-text {
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: -6%;
}

//Customer Logo Slider Section

.customer-logos {
  position: relative;
  z-index: 9999;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 55%;
}

.customer-logos {
  background-color: #F8FDFF;
  padding: 3% 0;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


//Real-Time API Section

.real-time-platform-img {
  max-width: 80%;
  margin-left: 2.8%;
}

.icon-container {
  margin-top: 26%;
  margin-bottom: 13%;
}

.icon-row .col-md-4:nth-child(2) .icon-container {
  border-right: 1px solid rgb(207, 207, 207);
  border-left: 1px solid rgb(207, 207, 207);
  margin-top: 26%;
  margin-bottom: 13%;
}

.icon-container::after {
  content: '';
  width: 60%;
  position: absolute;
  right: 0;
  display: block;
  margin: 0 auto;
  border-left: 1px solid $dark-grey;
}

.icon-title {
  color: $light-blue;
  font-size: 30px;
  padding: 8% 0 5% 0;
}

//Ebook Section
#ebook-section {
  background-color: #F8FDFF;
  padding-bottom: 4%;
}

.ebook-container {
  margin-bottom: 2%;
}


//Case Studies Section

.case-study-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 18px 0px rgb(204, 204, 204);
  -moz-box-shadow: 0px 0px 22px 0px rgba(140, 140, 140, 1);
  box-shadow: 0px 0px 18px 0px rgb(221, 221, 221);
  margin-bottom: 30%;
  -webkit-box-shadow: 0px 5px 12px 0px rgb(204, 204, 204);
  -moz-box-shadow: 0px 5px 25px 0px rgba(194, 194, 194, 1);
  box-shadow: 0px 5px 12px 0px rgb(207, 207, 207);
}

.case-study-btn-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding: 4%;
  color: $dark-grey;
  font-size: 18px;
}

.case-study-container:hover .case-study-overlay {
  height: 100%;
}

.case-study-container:hover .case-study-description {
  opacity: 1;
}

.case-study-description {
  position: relative;
  opacity: 0;
  text-align: left;
  padding: 4%;
}

.case-title {
  margin: 0;
}

.case-study-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F8FDFF;
  overflow: hidden;
  width: 100%;
  height: 20%;
  transition: .5s ease;
  transform: opacity .2s;
}

//Contact Us Section

#contact-us-section {
  padding-bottom: 10%;
}

.contact-us-container:nth-child(1) {
  border-left: 1px solid rgb(207, 207, 207);
}

.contact-us-title {
  color: $light-blue;
  font-size: 30px;
}

.contact-us-text {
  margin-bottom: 7%;
}

//Footer

footer {
  padding: 3% 0 .6% 0;
  background-color: #F7F7F7;
}

.logo-container {
  width: fit-content;
  margin: 0 auto;
}

.social-icons-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
}

.fab {
  margin-top: 12%;
  color: $light-blue;
  font-size: 18px;
  transition: all .3s ease-in;

  &:hover {
    color: darken($light-blue, 10%)
  }
}

.footer-link-container {
  width: fit-content;
  margin: 0 auto;
}

.footer-logo {
  width: 65%;
  padding-bottom: 5%;
  border-bottom: 1px solid $light-blue;
}

.footer-link {
  display: inline-block;
  color: #5A5A5A;
  font-size: 16px;

  &:hover {
    color: lighten($dark-grey, 15%)
  }
}

.footer-link-container {
  margin-bottom: 3em;
}

.address-text {
  width: fit-content;
  margin: 0 auto;
}

.footer-address-title,
.footer-address {
  color: #707070;
  text-align: left;
  font-size: 16px;
}

.copy-right {
  font-size: 12px;
}


// .carousel-fade .carousel-item {
//   opacity: 0;
//   transition: opacity ease-in-out 1s;
//   -webkit-transition: opacity ease-in-out 1s;
//   -moz-transition: opacity ease-out 0.6s;
//   -ms-transition: opacity ease-out 0.6s;
//   -o-transition: opacity ease-out 0.6s;
// }

// .carousel-item {
//   margin-top: 8% !important;
// }

// .carousel-inner {
//   height: 285px;
// }

// .quote-text-container {
//   padding-top: 20px;
//   font-style: italic;
//   font-size: 22px;
// }

// .quote-container {
//   color: $dark-grey;
//   width: fit-content;
//   max-width: 800px;
//   margin: 0 auto;
// }

// .quote-author {
//   float: right;
//   margin-top: -3%;
//   font-style: italic;
//   font-size: 18px;
// }

// .r-quote {
//   font-size: 40px;
//   line-height: 1;
// }

// .l-quote {
//   font-size: 40px;
//   line-height: 1;
// }

// .learn-more {
//   // position: absolute;
//   //bottom: 80px;
//   z-index: 3;
//   color: white;
//   background-color: $light-blue;
//   margin: 0 auto;
//   display: block;
//   padding: 10px 28px;
//   border-radius: 26px;
//   border: none;
//   transition: all .3s ease-in-out;
//   font-weight: bold;
//   font-size: 20px;
//   // left: 50%;
//   // transform: translateX(-50%);
//   // margin-top: 20%;

//   &:hover {
//     background-color: darken($light-blue, 15%)
//   }
// }