$dark-grey: #005D81;
$light-blue: #00AEEF;
$dark-grey: rgb(104, 95, 95);
//$dark-grey: rgb(94, 83, 82);
// $dark-grey: rgb(41, 77, 117);
//$dark-grey: rgb(30, 59, 92);

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
}


* {
  margin: 0;
  padding: 0;
}

.news-container {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: #F8FDFF;
  width: 100%;
}

.news-container p {
  margin: auto;
  color: white;
  font-size: 18px;
  color: $light-blue;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

// .nav-bar-logo {
//   height: 20px;
//   align-items: center;
// }

// .nav-bar-logo {
//   //width: 100%;

//   height: 100px;
//   align-items: center;

//   .logo {

//     width: 10%;
//     left: 4%;
//   }

//   .link-container {
//     float: right;
//   }

//   .link {
//     padding-right: 2%;
//   }
// }

// ul {
//   margin-bottom: 0;
// }


.logo {
  width: 75%;

  &:hover {
    cursor: pointer;
  }
}

.nav-link {
  position: relative;
  z-index: 999;
  font-weight: bold;
  font-size: 16px;
  color: $light-blue;

  &:hover {
    color: darken($light-blue, 15%);
  }
}

.nav-item {
  padding: 10px;
}

.diffusion-sub-title {
  color: $dark-grey;
  font-size: 38px;
  margin-top: -5%;
}

.sub-title {
  font-size: 26px;
  color: $dark-grey;
  margin-top: -2%;
}

.title-text {
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: -6%;
}

// .logo {
//   width: auto;
//   height: auto;
//   position: relative;
//   z-index: 999;
// }
.navbar-brand:hover {
  cursor: pointer !important;
}

// .links {
//   color: $light-blue;
//   //position: relative;
//   //margin-left: 10px;
//   // top: 34px;
//   z-index: 999;
//   float: right;
// }

.link {
  display: inline;
  font-weight: bold;
  font-size: 16px;
}

.link:hover {
  cursor: pointer;
}

h1 {
  margin-top: 6%;
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 70px;
  color: $dark-grey;
}

.main-text-container {
  position: relative;
  width: fit-content;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: $dark-grey;
}

// header .container {
//   position: relative;
//   z-index: 2;
// }

// .carousel-inner {
//   position: relative;
//   z-index: 99999;
// }

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-in-out 1s;
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-out 0.6s;
  -ms-transition: opacity ease-out 0.6s;
  -o-transition: opacity ease-out 0.6s;
}

.carousel-item {
  margin-top: 8% !important;
}

.carousel-inner {
  height: 255px;
}

.quote-text-container {
  padding-top: 20px;
  font-style: italic;
  font-size: 22px;
}

.quote-container {
  color: $dark-grey;
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
}

.quote-author {
  float: right;
  margin-top: -3%;
  font-style: italic;
  font-size: 18px;
}

.r-quote {
  font-size: 40px;
  line-height: 1;
}

.l-quote {
  font-size: 40px;
  line-height: 1;
}

.learn-more {
  position: relative;
  z-index: 3;
  color: white;
  background-color: $light-blue;
  margin: 0 auto;
  display: block;
  padding: 10px 28px;
  border-radius: 26px;
  border: none;
  transition: all .3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  margin-top: 4%;

  &:hover {
    background-color: darken($light-blue, 15%)
  }
}